<div class="timeline">
  <div class="container {{getContainerAlign()}}" wmAnimate="bounceIn" speed="normal" aos *ngFor="let family of families">
    <div class="content" >
      <h2>{{family.weddingAnniversary | date:'longDate' }}</h2>
      <p>{{family.description}}</p>
    </div>
  </div>

  <div class="container {{getContainerAlign()}}" wmAnimate="bounceIn" speed="normal" aos *ngFor="let family of families">
    <div class="content" >
      <h2>{{family.weddingAnniversary | date:'longDate' }}</h2>
      <p>{{family.description}}</p>
    </div>
  </div>

  <div class="container {{getContainerAlign()}}" wmAnimate="bounceIn" speed="normal" aos *ngFor="let family of families">
    <div class="content" >
      <h2>{{family.weddingAnniversary | date:'longDate' }}</h2>
      <p>{{family.description}}</p>
    </div>
  </div>
</div>
