<div fxLayout="column" fxLayoutAlign="center space-between">
  <header>
    <mat-toolbar color="primary">
      FamTree App

      <!--   -->

      <button
        mat-flat-button
        color="primary"
        routerLink="home"
        routerLinkActive="active"
      >
        Home
      </button>
      <button
        *ngIf="isLoggedIn"
        mat-flat-button
        color="primary"
        routerLink="admin"
        routerLinkActive="active"
      >
        Admin
      </button>
      <button
        *ngIf="isLoggedIn"
        mat-flat-button
        color="primary"
        (click)="logOut()"
      >
        Logout
      </button>
      <span class="spacer"></span>

      <div
        ngClass="login-container-toolbar"
        fxHide
        fxShow.md="true"
        fxShow.lg="true"
        fxShow.xl="true"
        fxLayout="row"
      >
        <alome-topnav-login
          *ngIf="!isLoggedIn"
          (loginModel)="login($event)"
        ></alome-topnav-login>
        <span *ngIf="isLoggedIn"><p>Welcome {{loggedInMember.name}}!</p></span>
      </div>
    </mat-toolbar>
  </header>
  <div>
    <alome-register
      *ngIf="!isLoggedIn && !loginMode"
      (registerModel)="register($event)"
    ></alome-register>
  </div>

  <div fxShow="loginMode" fxHide.md="true" fxHide.lg="true" fxHide.xl="true">
    <alome-pagecenter-login
      *ngIf="!isLoggedIn && loginMode"
      (loginModel)="login($event)"
    ></alome-pagecenter-login>
  </div>

  <main *ngIf="isLoggedIn">
    <router-outlet></router-outlet>
  </main>

  <footer fxShow fxHide.md="true" fxHide.lg="true" fxHide.xl="true" fxFlexOffset="auto" (click)="toggleLoginMode()" *ngIf="!isLoggedIn">
    <div fxLayoutAlign="center end">
      <h2>{{footerText}}</h2>
    </div>
  </footer>
</div>
